# Node modules
node_modules/

# Environment variables
.env
backend/src/config/firebaseServiceAccount.json
./src/config/firebaseServiceAccount.json
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# IDE / Editor
.vscode/
.idea/

# Coverage
coverage/

# Temp files
*.tmp
*.swp
